body {
	font: 17px Segoe UI;
	color: #818181;
}
p {
	font-family: Segoe UI;
	font-weight: regular;
	font-size: 20px;
}
a {
	text-decoration: none;
}
li {
	list-style-type: none;
}
a em {
	display: block;
	float: left;
	background: url(../images/em.png) no-repeat;
	width: 40px;
	height: 70px;
}
a span {
	display: block;
	float: left;
	background: url(../images/span.png) repeat-x;
	height: 70px;
	color: #ffffff;
	padding: 20px 40px 23px 40px;
	font-family: Segoe UI;
	font-weight: bold;
	font-size: 26px;
}
a b {
	display: block;
	float: left;
	background: url(../images/b.png) no-repeat;
	width: 40px;
	height: 70px;
}
.active {
	color: #818181;
	font-weight: regular;
}
li .active:hover  {
	color: #eaf3fd;
	padding: 8px 13px 8px 14px;
	background-color: #2289e9;
	background: #2289e9;
    background: linear-gradient(to top, #2289e9 0%, #31a7f4 36%, #74cbfa 100%);
	border: 1px #2289e9 solid;	
}
.text {
	font-size: 22px;
}
.picture-text {
	font-size: 14px;
}
#wrapper {
	background-color: #ececec;
	min-width: 960px;
	max-width: 1280px;
	margin: 0 auto;
}
#header {
	background-color: #ffffff;
	padding: 10px 0 20px 154px;
	overflow: hidden;
}
#logo {
	width: 175px;
	height: 28px;
	float: left;	
}
#menu {
	float: right;
	padding: 0 151px 0 281px;
}
#menu ul li {
	float: left;
	margin-left: 42px;
}
#header-image {
	height: 535px;
	background: url(../images/fon.jpg) no-repeat;
	position: relative;
}
#text{
	left: 225px;
	bottom: 267px;
	position: absolute;
}
#green {
	position: absolute;
	left: 500px;
	bottom: 115px;
	border-radius: 8px;
}
#content {
	background-color: #ececec;
	height: 570px;
	position: relative;
}
#white-box {
	width: 485px;
	height: 248px;
	background: url(../images/boxic.png) no-repeat;
	position: absolute;
	left: 409px;
	bottom: 121px;
	position: relative;
}
#white-box p {
	color: #868686;
	padding: 20px 55px 0 60px;
}
#picture1 {
	width: 79px;
	height: 48px;
	left: 26px;
	top: 68px;
	position: absolute;
}
#picture2 {
	width: 79px;
	height: 48px;
	left: 114px;
	top: 68px;
	position: absolute;
}
#picture3 {
	width: 79px;
	height: 48px;
	left: 200px;
	top: 68px;
	position: absolute;
}
#picture4 {
	width: 79px;
	height: 48px;
	left: 288px;
	top: 68px;
	position: absolute;
}
#picture5 {
	width: 79px;
	height: 48px;
	left: 376px;
	top: 68px;
	position: absolute;
}
#picture6 {
	width: 79px;
	height: 48px;
	left: 26px;
	top: 149px;
	position: absolute;
}
#picture7 {
	width: 79px;
	height: 48px;
	left: 114px;
	top: 149px;
	position: absolute;
}
#picture8 {
	width: 79px;
	height: 48px;
	left: 200px;
	top: 149px;
	position: absolute;
}
#picture9 {
	width: 79px;
	height: 48px;
	left: 288px;
	top: 149px;
	position: absolute;
}
#picture10 {
	width: 79px;
	height: 48px;
	left: 376px;
	top: 149px;
	position: absolute;
}
#picture-text1 {
	left: 26px;
	top: 120px;
	position: absolute;
}
#picture-text2 {
	left: 114px;
	top: 120px;
	position: absolute;
}
#picture-text3 {
	left: 200px;
	top: 120px;
	position: absolute;
}
#picture-text4 {
	left: 288px;
	top: 120px;
	position: absolute;
}
#picture-text5 {
	left: 376px;
	top: 120px;
	position: absolute;
}
#picture-text6 {
	left: 26px;
	top: 200px;
	position: absolute;
}
#picture-text7 {
	left: 114px;
	top: 200px;
	position: absolute;
}
#picture-text8 {
	left: 200px;
	top: 200px;
	position: absolute;
}
#picture-text9 {
	left: 288px;
	top: 200px;
	position: absolute;
}
#picture-text10 {
	left: 376px;
	top: 200px;
	position: absolute;
}
#title{
	margin-left: 310px;
	top: 190px;
	font-family: Segoe UI;
	font-weight: regular;
	font-size: 26px;
	position: absolute;
}
#title-2{
	margin-left: 494px;
	top: 240px;
	font-family: Segoe UI;
	font-weight: regular;
	font-size: 22px;
	position: absolute;
}
#block-1 {
	width: 133px;
	height: 133px;
	left: 294px;
	top: 320px;
	position: absolute;
}
#block-2 {
	width: 133px;
	height: 133px;
	left: 498px;
	top: 320px;
	position: absolute;
}
#block-3{
	width: 133px;
	height: 133px;
	left: 708px;
	top: 320px;
	position: absolute;
}
#block-4{
	width: 133px;
	height: 133px;
	left: 916px;
	top: 320px;
	position: absolute;
}
#one {
	top: 450px;
	margin-left: 295px;
	position: absolute;
}
#two {
	top: 450px;
	margin-left: 525px;
	position: absolute;
}
#three {
	top: 450px;
	margin-left: 725px;
	position: absolute;
}
#four {
	top: 450px;
	margin-left: 935px;
	position: absolute;
}
#footer {
	width: 1280px;
	height: 30px;
	background-color: #414141;
	overflow: hidden;
}
#footer p {
	font: 14px Segoe UI;
	color: #ababab;
	margin-left: 573px;
	margin-top: 5px;
}